body,
html {
    margin: 0;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100%;
}

.image_header {
    min-height: 100%;
    position: relative;
}

.image_header::before {
    content: '';
    animation: fade-slide-down 3s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: url('../img/header.jpg') no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

.parallax h1 {
    padding-top: 7%;
    text-align: center;
    letter-spacing: 8px;
    margin: 0;
    display: block;
    opacity: 1;
}

.parallax p {
    text-align: center;
    letter-spacing: 8px;
    margin-top: 15px;
}

header nav ul {
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin: 20px 10px;
    letter-spacing: 3px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.sticky {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}

.sticky a {
    color: #000;
}

.sticky a::before {
    background-color: #000;
}

.home {
    background: url(../img/arrow_up.jpg) no-repeat center center;
    height: 30px;
    width: 30px;
    text-decoration: none;
    background-size: cover;
    z-index: 2;
    display: none;
    position: fixed;
    top: 13px;
    right: 380px;
}

#wrapper {
    height: 100%;
}

.bar2,
.bar3,
.bar4,
.bar1 {
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

h2 {
    text-transform: uppercase;
    margin: 70px 0 50px 0;
    letter-spacing: 2px;
}

#o_mnie .ja {
    width: 250px;
    height: auto;
    float: left;
    margin: 0 50px 20px 0;
    display: block;
}

#o_mnie p {
    margin: 0 10px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 2px;
}

#o_mnie h3 {
    padding: 50px 0 40px;
    clear: both;
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
}

#o_mnie ul {
    padding-bottom: 50px;
}

#o_mnie ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px 15px;
}


#o_mnie ul li p {
    letter-spacing: 3px;
    text-align: center;
    margin: 0 auto;
    display: block;
    line-height: 18px;
}

#o_mnie li img {
    height: 60px;
}

.image_1 {
    background-image: url('../img/kari-shea-272383-unsplash_mini.jpg');
    height: 500px;
}

.image_2 {
    background-image: url('../img/rawpixel-559744-unsplash_mini.jpg');
    height: 500px;
}

.image_3 {
    background-image: url('../img/stanley-dai-242205-unsplash_mini.jpg');
    height: 500px;
}

#portfolio {
    padding-bottom: 100px;
    width: 80%
}

#portfolio ul {
    list-style-type: none;
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
}

.image::before {
    content: "";
    background: no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.photo1::before {
    background-image: url(../img/coders_3.png);
    background-size: cover;
}

.photo2::before {
    background-image: url(../img/Web_Design.png);
    background-size: cover;
}

.photo3::before {
    background-image: url(../img/psd_2.png);
    background-size: cover;
}

.photo4::before {
    background-image: url(../img/kraft.png);
    background-size: cover;
}

.photo5::before {
    background-image: url(../img/leantec.png);
    background-size: cover;
}

.photo6::before {
    background-image: url(../img/todo.png);
    background-size: cover;
}

.photo7::before {
    background-image: url(../img/tatry.png);
    background-size: cover;
}

.photo8::before {
    background-image: url(../img/philosophia.png);
    background-size: cover;
}

.photo9::before {
    background-image: url(../img/monitory.png);
    background-size: cover;
}

.photo10::before {
    background-image: url(../img/linux.png);
    background-size: cover;
}

.photo11::before {
    background-image: url(../img/kowalski.png);
    background-size: cover;
}

.photo12::before {
    background-image: url(../img/retro.png);
    background-size: cover;
}


#wiedza {
    height: 100%;
    padding-bottom: 50px;
}

#wiedza li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px 30px;
}

#wiedza .boot {
    height: 120px;
    margin: 0 -40px -20px 0;
}

#wiedza h3 {
    margin: 100px 0 20px;
}

#wiedza img {
    width: auto;
    height: 100px;
}

#kontakt {
    text-align: center;
}

#kontakt .mail {
    width: 250px;
    margin: 10% auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #000;
}

#kontakt .mail h2 {
    margin: 20px auto;
}

#kontakt .mail p {
    margin: 5px;
}



/*//////////////////
    ANIMATION
//////////////////*/

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-70px) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes grow-up {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 1.82, .59, 1.37) forwards;
    opacity: 0;
}

.animate-grow-up {
    animation: grow-up 1.6s ease-out forwards;
}

.header {
    animation-delay: .3s;
}

.header_p {
    animation-delay: .3s;
}

header nav ul li:nth-child(1) {
    animation-delay: .6s;
}

header nav ul li:nth-child(2) {
    animation-delay: .9s;
}

header nav ul li:nth-child(3) {
    animation-delay: 1.1s;
}

header nav ul li:nth-child(4) {
    animation-delay: 1.3s;
}


/******MEDIA QUERIES******/

@media screen and (min-width: 780px) {
    .image:hover::before {
        transform: scale(1.1);
    }

    header nav ul li a:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(0);
        transform: scaleX(1);
    }

}

@media screen and (max-width: 640px) {



    h2 {
        margin: 50px auto;
    }

    #o_mnie .ja {
        float: none;
        margin: 40px auto;
        width: 200px;
    }

    #portfolio {
        width: 90%;
    }
    #portfolio ul li {
        width: 49%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {

    #portfolio {
        width: 100%;
    }
    #portfolio ul li {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    #burger_nav {
        margin-right: 10px;
        padding: 0;
        width: 40px;
        cursor: pointer;
        float: right;
    }

    #burger_nav .line {
        background-color: #000;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .3s ease-in-out;
    }

    #burger_nav.active .line:nth-child(1) {
        transform: translateY(12px) rotate(135deg);
        -moz-transform: translateY(12px) rotate(135deg);
        -webkit-transform: translateY(12px) rotate(135deg);
    }

    #burger_nav.active .line:nth-child(3) {
        transform: translateY(-12px) rotate(-135deg);
        -moz-transform: translateY(-12px) rotate(-135deg);
        -webkit-transform: translateY(-12px) rotate(-135deg);
    }

    #burger_nav.active .line:nth-child(2) {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    header nav {
        background-color: #fff;
        margin: 0 auto;
        padding: 10px 0;
        width: 100%;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
        clear: both;
        transition: height .5s;
        width: 300px;
        margin: 0 auto;
        padding: 0;
    }

    header nav ul li {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        float: none;
        padding: 0;
        border-bottom: 1px solid #000;
    }

    header nav ul li a {
        color: #000;
        padding: 13px;
        margin: 0 auto;
        display: block;
        line-height: 0.5px;
    }

    header nav ul.open {
        height: 120px;
    }
}
